# PCA

![KNN](pca.png)

## Customer Satisfaction Analysis

A survey in order to evaluate 20 different healthcare structures. 2000 customers have evaluated, with a 1-10 scale, each of six features of the service:

1. Courtesy
2. Clarity
3. Competence
4. Condition (of the structure)
5. Promptness (of the service)
6. Opening times

In [1]:
import numpy as np
import pandas as pd

In [16]:
df2 = pd.read_csv("C:\\Users\\datel080\\Downloads\\Project_Work\\crm_model.csv")
#import pandas as pd
#data_df = pd.read_csv("C:\Users\datel080\Downloads\Project_Work\finance_model.csv",index_col=0)
#data_dfcrm_model

df2.head()

print(df2.head())

df2.describe()

          ID Poverty_Code  CRM_Segment Company_Type  Direction_Meeting  \
0   LISTED-2            0          6.0       LISTED                  1
1   LISTED-9            0         11.0       LISTED                  0
2  LISTED-14            0          6.0       LISTED                  1
3  LISTED-30            0          6.0       LISTED                  1
4  LISTED-38            0         11.0       LISTED                  0

   Low_Seniority  High_Seniority  Employees Income_Level New_Client  \
0              1             8.0        420            I        NEW
1              2             8.0        180            F        NEW
2              2             8.0        310            P   EXISTING
3              2             8.0        320            Q   EXISTING
4              4             8.0        300            Q   EXISTING

   Number_Meetings First_Meeting Last_Meeting  Travel_First_Meeting  \
0                1      09/07/10     09/07/10                 247.0
1                0           NaN          NaN                   NaN
2                1      09/09/10     09/09/10                 242.0
3                1      09/16/10     09/16/10                 252.0
4                0           NaN          NaN                   NaN

   Travel_Last_Meeting Size_Indicator
0                247.0            S-M
1                  NaN              S
2                242.0              S
3                252.0              S
4                  NaN              S

,CRM_Segment,Direction_Meeting,Low_Seniority,High_Seniority,Employees,Number_Meetings,Travel_First_Meeting,Travel_Last_Meeting
count,4192.000000,4200.000000,4200.000000,4076.000000,4200.000000,4200.000000,3609.000000,3609.000000
mean,7.913884,0.859286,4.450952,8.392051,621.455952,1.098810,261.880576,229.280410
std,2.752059,0.347768,2.580262,1.737038,419.525088,0.608739,79.061852,53.353651
min,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-204.000000,-204.000000
25%,6.000000,1.000000,2.000000,8.000000,340.000000,1.000000,209.000000,198.000000
50%,7.000000,1.000000,6.000000,8.000000,574.000000,1.000000,250.000000,234.000000
75%,11.000000,1.000000,6.000000,8.000000,810.000000,1.000000,286.000000,261.000000
max,12.000000,1.000000,10.000000,12.000000,3990.000000,2.000000,749.000000,749.000000

In [12]:
df3 = pd.read_csv("C:\\Users\\datel080\\Downloads\\Project_Work\\finance_model.csv")
#import pandas as pd
#data_df = pd.read_csv("C:\Users\datel080\Downloads\Project_Work\finance_model.csv",index_col=0)
#data_dfcrm_model

print(df3.head())

df3.describe()

           ID Deposit_Date Special_Pay  Price  Refund_Option  \
0  3124-40201     01/23/10          SA    366              0
1  4124-40201     01/23/10          SA    385              0
2   877-40289     04/21/10          SA   1704              0
3  2638-40289     04/21/10          SA   1789              0
4   326-40330     06/01/10          SA    655              0

   Refund_Option_Cancelled  Refund_Percentage  Automatic_Pay_Rate  Revenue
0                        0                0.0                 0.0      385
1                        0                0.0                 0.0      385
2                        0                0.0                 0.0     1704
3                        0                0.0                 0.0     1704
4                        0                0.0                 0.0      689

,Price,Refund_Option,Refund_Option_Cancelled,Refund_Percentage,Automatic_Pay_Rate,Revenue
count,4200.000000,4200.000000,4200.00000,4200.000000,4200.000000,4200.000000
mean,1612.248571,16.883095,3.34000,0.572300,0.208145,1612.565952
std,650.943782,16.592762,3.70528,0.235312,0.156002,647.809644
min,75.000000,0.000000,0.00000,0.000000,0.000000,79.000000
25%,1168.000000,6.000000,1.00000,0.451613,0.100000,1172.000000
50%,1701.000000,12.000000,2.00000,0.600000,0.200000,1699.000000
75%,2060.000000,23.000000,5.00000,0.730769,0.294000,2047.000000
max,4410.000000,257.000000,45.00000,1.200000,1.750000,4200.000000

In [13]:
df4 = pd.read_csv("C:\\Users\\datel080\\Downloads\\Project_Work\\sales_model.csv")
#import pandas as pd
#data_df = pd.read_csv("C:\Users\datel080\Downloads\Project_Work\finance_model.csv",index_col=0)
#data_dfcrm_model

print(df4.head())

df4.describe()

              ID Program_Code  Min_Seniority  Max_Seniority Origin_State  \
0   HG-449-40686           HG            4.0            5.0           CA
1  HG-2589-40686           HG            4.0            5.0           CA
2   HC-145-40705           HC            6.0            7.0           IN
3  HC-3525-40705           HC            7.0            8.0           IN
4  HC-2222-40691           HC           12.0           13.0           NE

   Days Travel_Type Departure_Date Return_Date  Participant   ...     \
0     2           A       05/23/11    05/24/11           29   ...
1     2           A       05/23/11    05/24/11           29   ...
2     5           A       06/11/11    06/15/11           16   ...
3     5           A       06/11/11    06/15/11           16   ...
4     5           A       05/28/11    06/01/11           35   ...

   Departure_Month   Type_Low  Type_High                 Type  \
0              May  Undefined  Undefined  Undefined-Undefined
1              May  Undefined  Undefined  Undefined-Undefined
2             June        5-8        5-8              5-8-5-8
3             June        5-8        5-8              5-8-5-8
4              May          2          2                  2-2

   Code_Aggregation Same_Type_Flag Enrollment  Participant_Ratio  \
0                 H              1        NaN           0.935484
1                 H              1        NaN           0.935484
2                 H              1   0.037500           0.833333
3                 H              1   0.037500           0.833333
4                 H              1   0.119863           0.875000

  Participant_Difference Retained
0                      2        0
1                      2        0
2                      3        0
3                      3        0
4                      5        0

[5 rows x 32 columns]

,Min_Seniority,Max_Seniority,Days,Participant,Total_Participants,Cancelled,Discounted,Company_Sponsor,Same_Type_Flag,Enrollment,Participant_Ratio,Participant_Difference,Retained
count,3967.000000,3926.000000,4200.000000,4200.000000,4200.000000,4200.000000,4200.000000,4200.000000,4200.000000,4032.000000,4200.000000,4200.000000,4200.000000
mean,7.256113,7.897606,4.736905,31.394762,34.360952,4.849048,2.964524,0.105714,0.783333,0.066301,0.900733,2.966190,0.606667
std,1.624928,1.771454,1.481672,29.173849,31.652099,4.844284,3.015073,0.307508,0.412023,0.082620,0.049191,2.899573,0.488548
min,2.000000,3.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000922,0.600000,0.000000,0.000000
25%,6.000000,7.000000,4.000000,13.000000,14.000000,2.000000,1.000000,0.000000,1.000000,0.021053,0.883279,1.000000,0.000000
50%,7.000000,8.000000,5.000000,24.000000,26.000000,4.000000,2.000000,0.000000,1.000000,0.045862,0.909091,2.000000,1.000000
75%,8.000000,9.000000,5.000000,40.000000,44.000000,7.000000,4.000000,0.000000,1.000000,0.087500,0.933333,4.000000,1.000000
max,13.000000,13.000000,12.000000,300.000000,327.000000,46.000000,46.000000,1.000000,1.000000,2.052632,1.000000,47.000000,1.000000

In [17]:
df5 = pd.read_csv("C:\\Users\\datel080\\Downloads\\Project_Work\\twitter_model.csv")
#import pandas as pd
#data_df = pd.read_csv("C:\Users\datel080\Downloads\Project_Work\finance_model.csv",index_col=0)
#data_dfcrm_model

print(df5.head()0)

df5.describe()

              ID                                               text
0   HD-668-40614   is the contest over for Destination Dragons? ...
1  HD-1361-40692   thx for nothing on getting us out of the coun...
2  HD-2211-40639   Hey friends! Stupid question - Can I split pa...
3     SC-5-40706   if someone had bothered to inform us that the...
4  CD-3439-40654           thanks so much for help Us, u r amazing! 0

                   ID     text
count           12837    12837
unique           4200    12597
top     HD-3509-40704   thanks
freq                5       16

In [ ]:
%matplotlib inline
df2.boxplot()

In [ ]:
#dataset scaling and visualizing
from sklearn.preprocessing import StandardScaler
scaler2 = StandardScaler(copy=False) #or alternatively use MinMaxScaler
scaler2.fit(df2.astype(float)) # 
scaler2.transform(df2.astype(float))
df2.boxplot()

In [ ]:
df2_scaled=pd.DataFrame(scaler2.transform(df2.astype(float))) 
df2_scaled.columns=df2.columns
df2_scaled.head()

In [ ]:
df2_scaled.boxplot()

In [ ]:
df2.apply(lambda s: df2.corrwith(s))

In [ ]:
#PCA fit
from sklearn.decomposition import PCA
# we can choose the number of components e.g. 10, the percentage of the total variance or set it to None (that means it automatically chooses the number of components)
pca2 = PCA()
pca2.fit(df2_scaled) #The fit learns some quantities from the data, most importantly the "components" and "explained variance"

In [ ]:
#let's use the pca to transform the dataset
df2_pca = pd.DataFrame(pca2.transform(df2_scaled))

In [ ]:
#Let's analyse what happened
#VISUALIZE The amount of variance explained by each of the 10 selected principal components.
pd.DataFrame(pca2.explained_variance_).transpose()

In [ ]:
#VISUALIZE The percentage of variance explained by each of the selected components.
explained_var=pd.DataFrame(pca2.explained_variance_ratio_).transpose()
explained_var

In [ ]:
#VISUALIZE The cumulative percentage of explained variance
cum_explained_var=np.cumsum(pca2.explained_variance_ratio_)
pd.DataFrame(cum_explained_var).transpose()

In [ ]:
%matplotlib inline
import seaborn as sns
ax = sns.barplot( data=explained_var)

In [ ]:
pd.DataFrame(pca2.components_,index=['PC1','PC2','PC3','PC4','PC5','PC6'],columns=df2.columns)

### 1st component:

The variables

   - Condition
   - Promptness
   - Opening-times

show a high correlation with the first component. This component can be summarized as an index of the **structure’s performances**

### 2nd component:

The variables
   - Courtesy
   - Clarity
   - Competence

show a high correlation with the second component. 
This component can be summarized as an index of the **personnel’s performance**

**Notice that the Principal Components have negative values in the variables that they explain.**

In [ ]:
df2_pca.columns=['PC1','PC2','PC3','PC4','PC5','PC6']
df2_pca

In [ ]:
p1=sns.scatterplot(x="PC1", y="PC2",
              alpha=.3, 
              hue="PC6", legend=False,
              data=df2_pca);

# add annotations one by one with a loop
for line in range(0,df2_pca.shape[0]):
     p1.text(df2_pca.PC1[line], df2_pca.PC2[line], line, horizontalalignment='left', size='medium', color='black')

We conclude that 
 - centers 18,11 has a GOOD infrastructure but a BAD service
 - the group near 1,4,6 has BAD infrastructure but GOOD service quality 
 - the group 0,3,2,9 has GOOD infrastructure and service
 - center 17 has BAD infrastructure and service!

## Breast cancer wisconsin (diagnostic) dataset

In [ ]:
#upload a toy datasets from scikit-learn
#sklearn comes with a few small standard datasets that do not require to download any file from some external website
from sklearn.datasets import load_breast_cancer
dataset = load_breast_cancer() #The breast cancer dataset is a classic and very easy binary classification dataset.

#create the dataframe
dataset_df = pd.DataFrame(dataset.data)
columns = dataset.feature_names
dataset_df.columns = columns

print(dataset["DESCR"])

In [ ]:
#dataset visualization tools
%matplotlib inline
dataset_df.boxplot()
dataset_df.head()

In [ ]:
#dataset scaling and visualizing
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(copy=False) #or alternatively use MinMaxScaler
scaler.fit(dataset_df) 
scaler.transform(dataset_df) 
dataset_df.boxplot()
dataset_df.head()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x = dataset_df.iloc[:,0]
y = dataset_df.iloc[:,1]

dataset_df['target'] = dataset.target  

plt.scatter(x, y,alpha=0.2,c=dataset_df['target'] )
plt.show()

In [ ]:
%matplotlib inline
import seaborn as sns

sns.scatterplot(x="mean perimeter", y="mean area",
              hue="target", alpha=.2,
              data=dataset_df);

In [ ]:
#PCA fit
from sklearn.decomposition import PCA
# we can choose the number of components e.g. 10, the percentage of the total variance or set it to None (that means it automatically chooses the number of components)
pca = PCA(n_components=10)
pca.fit(dataset_df) #The fit learns some quantities from the data, most importantly the "components" and "explained variance"

In [ ]:
#let's use the pca to transform the dataset
x_pca = pca.transform(dataset_df)
print("Dataset shape before PCA: ", dataset_df.shape)
print("Dataset shape after PCA: ", x_pca.shape)

In [ ]:
#Let's analyse what happened
#VISUALIZE The amount of variance explained by each of the 10 selected principal components.
pd.DataFrame(pca.explained_variance_).transpose()

In [ ]:
#VISUALIZE The percentage of variance explained by each of the selected components.
explained_var=pd.DataFrame(pca.explained_variance_ratio_).transpose()
explained_var

In [ ]:
%matplotlib inline
import seaborn as sns
sns.barplot( data=explained_var)

In [ ]:
#VISUALIZE The cumulative percentage of explained variance
cum_explained_var = np.cumsum(pca.explained_variance_ratio_)
pd.DataFrame(cum_explained_var).transpose()

In [ ]:
#PRINT the total percentage of explained variance 
print(cum_explained_var[-1])

In [ ]:
#CHOOSING THE NUMBER OF COMPONENTS - we can plot the cumulative percentage of explained variance
import matplotlib.pyplot as plt
plt.plot(cum_explained_var)
plt.xlabel('number of components')
plt.ylabel('cumulative explained variance');

This previous curve quantifies how much of the total, 30-dimensional variance is contained within the first 10 components. 
For example, we see that the first 4 components contain approximately 79% of the variance, 
while you need around 6 components to describe close to 95% of the variance.

In [ ]:
pd.DataFrame(pca.components_,index=['pc1', 'pc2','pc3','pc4','pc5', 'pc6','pc7','pc8','pc9','pc10'],columns=dataset_df.columns).transpose()

In [ ]:
# Let see the coordinates of the data in the PCA 
principalDf = pd.DataFrame(data = x_pca
             , columns = ['pc1', 'pc2','pc3','pc4','pc5', 'pc6','pc7','pc8','pc9','pc10'])
principalDf.head()

In [ ]:
principalDf['target']=dataset.target
dataset.target_names

In [ ]:
# The data in the first PCA 
sns.scatterplot(x="pc1",y=[0]*(principalDf['target'].size),
              hue="target", alpha=.2,
              data =principalDf);

In [ ]:
# The data in the first two PCA 
sns.scatterplot(x="pc1", y="pc2",
              hue="target", alpha=.3,
              data=principalDf);

In [ ]:
# The data in the first three PCA 

from mpl_toolkits.mplot3d import axes3d

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.scatter(principalDf['pc1'], principalDf['pc2'],principalDf['pc3'], c=principalDf['target'], s=40)
ax.view_init(30, 0)
plt.show()

In [ ]:
#A PART FROM EXPLICITLY CHOOSE THE NUMBER OF PRINCIPAL COMPONENTS, YOU CAN RESORT TO SOME AUTOMATIC TOOLS SUCH AS:

#(1) You can leave the pca implementation of sklearn to choose the number of components by using:
    #Set n_components == 'mle' and svd_solver == 'full' and Minka’s MLE is used to guess the dimension. 
    
pca = PCA(n_components='mle',svd_solver='full') 
pca.fit(dataset_df)
pca.n_components_ 
#and then transform the dataset as we have already seen above

In [ ]:
#let's use the pca to transform the dataset
x_pca = pca.transform(dataset_df)
print("Dataset shape before PCA: ", dataset_df.shape)
print("Dataset shape after PCA: ", x_pca.shape)

In [ ]:
#OR (2) you can ask for the components able to explain a certain percentage of variance by using:
    #Set 0 < n_components < 1 and svd_solver == 'full' to select the number of components such that the amount of variance that needs to be explained is greater than the percentage specified by n_components.

pca = PCA(n_components=0.9,svd_solver='full') 
pca.fit(dataset_df)
pca.n_components_ 
#and then transform the dataset as we have already seen above

In [ ]:
#let's use the pca to transform the dataset
x_pca = pca.transform(dataset_df)
print("Dataset shape before PCA: ", dataset_df.shape)
print("Dataset shape after PCA: ", x_pca.shape)

## mtcars

In [ ]:
# Import CSV mtcars
cars = pd.read_csv('mtcars.csv',index_col = 0)

The car types are a mix that includes sedans (Datsun, Ford, Honda,…), luxury sedans (Mercedes, Cadellac,..), muscle cars (Javelin, Challenger, Camaro…) and high-end sports cars (Porsche, Lotus, Maserati, Ferrari…)

- 	mpg 	Miles/US Gallon 	mpg is the determinant of fuel efficiency
- 	cyl 	Number of cylinders 	Data includes vehicles with 4,6,8 cylinder engines.
- 	disp 	Displacement (cu.in.) 	Displacement measures overall volume in the engine as a factor of cylinder circumfrance, depth and total number of cylinders. This metric gives a good proxy for the total amount of power the engine can generate.
- 	hp 	Gross horsepower 	Gross horsepower measures the theoretical output of an engine’s power output
- 	drat 	Rear axle ratio 	The rear axle gear ratio indicates the number of turns of the drive shaft for every one rotation of the wheel axle. 
- 	qsec 	1/4 mile time 	A performance measure, primarily of acceleration. Fastest time to travel 1/4 mile from standstill (in seconds).
- 	vs 	V/S 	Binary variable signaling the engine cylinder configuration a V-shape (vs=0) or Straight Line (vs=1). V==0 and S==1. 
- 	am 	Transmission Type 	A binary variable signaling whether vehicle has automatic (am=0) or manual (am=1) transmission configuration.
- 	gear 	Number of forward gears 	Number of gears in the transmission.
- 	carb 	Number of carburetors 	The number of carburetor barrels.

In [ ]:
cars.head()

In [ ]:
#dataset scaling and visualizing
from sklearn.preprocessing import StandardScaler
scaler3 = StandardScaler(copy=False) #or alternatively use MinMaxScaler
scaler3.fit(cars.astype(float)) 
df_cars=pd.DataFrame(scaler3.transform(cars.astype(float))) 
df_cars.columns=cars.columns
df_cars.boxplot()

In [ ]:
from sklearn.decomposition import PCA
pca3 = PCA()
pca3.fit(df_cars)

In [ ]:
explained = pd.DataFrame(pca3.explained_variance_ratio_).transpose()
sns.barplot(data=explained)

In [ ]:
pd.DataFrame(pca3.components_,columns=cars.columns)

In [ ]:
cars_pca = pd.DataFrame(pca3.transform(df_cars),columns = ['pc1', 'pc2','pc3','pc4','pc5', 'pc6','pc7','pc8','pc9','pc10','pc11']
                        ,index=cars.index.values)
cars_pca.head()

In [ ]:
p2=sns.scatterplot(x="pc1", y="pc2",
              alpha=.3,
              data=cars_pca);
# add annotations one by one with a loop
for line in range(0,cars_pca.shape[0]):
     p2.text(cars_pca.pc1[line], cars_pca.pc2[line], cars_pca.index[line], horizontalalignment='left', size='medium', color='black')

## Iris database

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

iris = datasets.load_iris()

In [ ]:
print(iris['DESCR'])

In [ ]:
#create the dataframe
iris_df = pd.DataFrame(iris.data)
iris_df.columns = iris.feature_names

In [ ]:
from sklearn.preprocessing import StandardScaler
iris_scaler = StandardScaler(copy=False) #or alternatively use MinMaxScaler
iris_scaler.fit(iris_df) # 
iris_scaler.transform(iris_df)
iris_df.boxplot()

In [ ]:
#PCA fit
from sklearn.decomposition import PCA
pca = PCA()
pca.fit(iris_df)

In [ ]:
#VISUALIZE The percentage of variance explained by each of the selected components.
pd.DataFrame(pca.explained_variance_ratio_).transpose()

In [ ]:
explained = pd.DataFrame(pca.explained_variance_ratio_).transpose()
sns.barplot(data=explained)

In [ ]:
pd.DataFrame(pca.components_,columns=iris_df.columns)

In [ ]:
# Let see the coordinates of the data in the PCA 
iris_pca = pd.DataFrame(pca.transform(iris_df),columns = ['pc1', 'pc2','pc3','pc4']
                        ,index=iris_df.index.values)
iris_pca.head()

In [ ]:
# The data in the first two PCA 
sns.scatterplot(x="pc1", y="pc2",
              hue=iris['target'], alpha=.3,
              data=iris_pca);

In [ ]:
iris